/* Elements */

h2 {
  font-weight: 600;
}

p {
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #6dc28b;
}

iframe {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Header */

#navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-div {
  background-color: #0d2e13;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}

#logo-col {
  padding: 0px;
}

.header-info-contact{
  padding: 0px;
}

.logo-header {
  width: 170px;
  height: 100px;
}

.logo-header-transparente {
  width: 120px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clr_text_def {
  color: white;
}

.clr_text_def:hover {
  color: #6dc28b;
  font-weight: 500;
}

.fa {
  font-size: 30px;
  padding-top: 35px;
  padding-right: 20px;
}

.fa-whatsapp {
  font-size: 50px;
  padding-top: 25px;
  padding-right: 20px;
}

.title {
  position: absolute;
  top: 25px;
}

.phone {
  position: absolute;
  top: 50px;
}

.nav-link {
  color: rgba(0, 0, 0, 0.723);
  font-size: 18px;
  font-weight: 500;
  padding-right: 16px;
  padding-left: 16px;
}

.nav-link:hover {
  color: #6dc28b;
  font-weight: 700;
}

.navbar {
  --bs-navbar-toggler-border-color: #92a195;
  text-align: left;
  padding: 0px;
  height: 59px;
  margin: auto;
  border-bottom: #6dc28b;
  border-style: hidden hidden solid;
}

.fixed-navbar {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-nav {
  width: 933px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.navbar-toggler {
  margin-left: 10px;
  border: none;
  color: white;
}

#navbar-brand {
  display: none ;
  align-self: center;
  margin: auto;
}

.container-fluid {
  padding: 0px;
}


@media (max-width: 939px) {  
  .navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .navbar-nav {
    margin: 0%;
  }
  .nav-link {
    border: 1px;
    border-color: #b5eac7;
    border-style: none none solid;
  }
  .header-div {
    display: none;
  }
  #navbar-brand {
    display:contents;
  }
}

@media (min-width: 940px) {
  
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand-lg .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-expand-lg .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

/* Content */


.content-div {
  margin: auto;
  max-width: 1100px;
}

.content-div {
  margin: auto;
  max-width: 1100px;
}

.wellcome-image {
  /* max-width: 1100px;
  position:static; */
  max-width: 100%;
  height: auto;
}

.contant-container {
  margin: 50px 10px 0px;
}


.auimg {
  float: left;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-top: 30px;
}

@media (max-width: 960px) {
  .auimg {
    margin-top: 60px;
  }
}

@media (max-width: 840px) {
  .auimg {
    margin-top: 90px;
  }
}

#img2 {
  float: right;
}

.accordion-button {
  position: inherit;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 50%;
}

.avatar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-qualification {
  padding-top: 20px;
}

.saude {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.carousel-inner {
  margin: auto;
  max-width: 85%;
  position: relative;
}

.carousel-item {
  justify-content: center;
  align-items: center;
}

.col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: 767px) {
  .col-4 {
    width: 100%;
    min-height: 350px;
    margin-bottom: 20px;
  }


  .card.col-3 {
    width: 50%;
  }

  .col-6.contact-col{
    width: 100%;
  }

  .col-3.ps-icon {
    width: 33.3333%;
  }

  .text-col{
    width: 100%;
  }

  .img-col{
    display: none;
  }
  
}

@media (max-width: 500px){

  .col-3.ps-icon {
    width: 50%;
  }

}

.card {
  --bs-card-border-width: 0px;
}

.testimonial-section {
  min-height: 230px;
}

.col-6.contact-col{
  margin-bottom: 30px;
}

#map {
  height: 400px;
  width: 100%;
}

.contact-div {
  min-height: 50px;
}

.contact-row {
  color: #0d2e13;
}

.contact-row:hover {
  color: #6dc28b;
}

.contact-icon {
  padding-top: 11px;
  margin-right: 8px;
  font-size: 30px;
}

#phone-icon {
  padding-top: 6px;
}

.contact-icon-large {
  font-size: 60px;
  display: table;
}

.contact-icon-large:hover {
  color: #0d2e13;
}

.contact-text {
  margin: auto 0;
}

.social-media {
  display: flex;
}

.social-media-icon {
  margin: auto;
}

.footer {
  margin-top: 60px;
  height: 100px;
  background-color: #0d2e13;
  text-align: center;
  position: relative;
}

.bottom-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.up-arrow {
  color: rgba(255, 255, 255, 0.801);
  font-size: 28px;
  position: absolute;
  right: 2%;
  top: 20%;
}

.up-arrow:hover {
  color: #6dc28b;
}

.footer-2 {
  height: 30px;
  background-color: #0a2610;
  color: white;
  position: relative;
  text-align: right;
}

.fi-brands-github {
  
  color: white;
  margin-left: 10px;
  margin-right: 19px;
  font-size: 20px;
}